/* Custom DaveOpsIO styles */

/* Navigation bar */
nav {
  margin: 10px 0;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #39ff14; /* Hacker theme neon green */
}

nav a:hover {
  text-decoration: underline;
}

/* add some padding to the main content */
main h1, main h2, main h3, main p , main li{
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer */
footer p {
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
}
